html {
  font: 300 12px/1 Arial;
}
html,
boby {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 {
  font: 700 22px/1 Arial;
}
.b-dialog {
  position: relative;
  display: inline-block;
  background: #fff;
  border: 1px solid #555;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  overflow: hidden;
  text-align: left;
}
.b-dialog__wrapper {
  position: absolute;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.b-dialog__wrapper-inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.b-dialog__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
}
.b-dialog__head {
  padding: 10px 20px;
  background: #777;
}
.b-dialog__title {
  font: 600 14px/1 Arial;
}
.b-dialog__body {
  padding: 20px;
}
.b-form__group {
  display: block;
  padding: 10px 0;
}
.b-form__input {
  font: 500 14px/1 Arial;
  border: 1px solid #888;
  outline: none;
  padding: 6px;
}
.b-form__label {
  font: 700 14px/1.5 Arial;
}
.b-form__button {
  font: 700 14px/1 Arial;
  border: 1px solid #555;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  background: #888;
  padding: 6px;
}
.b-pager {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 10px 0;
  font: 300 14px/1 Arial;
}
.b-pager__item {
  display: inline-block;
  list-style: none;
  padding: 0 3px;
}
.b-pager__href {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 5px;
  width: 1em;
  border: solid 1px #888;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  background: #ccc;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.b-pager__href--active,
.b-pager__href:hover {
  color: #fff;
  background: #666;
}
.b-panel {
  background: #fff;
  border: 1px solid #555;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  overflow: hidden;
  text-align: left;
}
.b-panel__header,
.b-panel__footer {
  padding: 10px 20px;
  background: #777;
}
.b-panel__title {
  font: 600 14px/1 Arial;
}
.b-panel__body {
  padding: 20px;
}
.b-table {
  width: 100%;
}
.b-table__row {
  cursor: default;
}
.b-table__cell {
  padding: 3px 6px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.b-table__row:nth-child(odd) .b-table__cell {
  background: #ccc;
}
.b-table__row:hover .b-table__cell {
  background: #999;
}
.b-page {
  background: #fff;
}
.b-dialog--login .b-form__input {
  width: 300px;
}
.b-pager-wrapper {
  text-align: center;
}
