.b-form
    &__group
        display block
        padding 1rem 0
        
    &__input
        font 500 1rem/1 Arial
        border 1px solid #888
        outline none
        padding .5rem
        
    &__label
        font 700 1rem/1.5 Arial
        
    &__button
        font 700 1rem/1 Arial
        border 1px solid #555
        border-radius .5rem
        background #888
        padding .5rem
        