.b-form
    &__group
        display block
        padding 10px 0
        
    &__input
        font 500 14px/1 Arial
        border 1px solid #888
        outline none
        padding 6px
        
    &__label
        font 700 14px/1.5 Arial
        
    &__button
        font 700 14px/1 Arial
        border 1px solid #555
        border-radius 5px
        background #888
        padding 6px
        