.b-panel
    background #fff
    border 1px solid #555
    border-radius 5px
    overflow hidden
    text-align left
    
    &__header, &__footer
        padding 10px 20px
        background #777
        
    &__title
        font 600 14px/1 Arial
        
    &__body
        padding 20px