.b-table
	width 100%
	border-spacing 1px
	
	&__row
		cursor default
		
	&__cell
		padding .3rem .6rem
		transition .3s all ease
		
		~/__row:nth-child(odd) &
			background #ccc
			
		~/__row:hover &
			background #999
			